/* fix the sizing differnce between the diiffrent screen sizes */
.projects-main-container{
    height: 35vw;
    justify-content: center;
    font-family: 'Rubik', sans-serif;
    color: #e0e7ff;
    margin-bottom: 150px;
}

@media screen and (max-width: 560px){
    .projects-main-container{
        margin-bottom: 200px;
        height: 100vw;
    }
}

header{
    text-align: center;
}


@media screen and (max-width: 560px){
    header{
        margin-top: 30%;
        margin-bottom: 50px;
    }
}


.my-projects-container{
    height: 32vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-arrow{
    color: #404040;
    font-size: 2.5rem;
    cursor: pointer;
}

@media screen and (max-width: 560px){
    .left-arrow{
        margin-top: 65px;
    }
}

.right-arrow{
    color: #404040;
    font-size: 2.5rem;
    cursor: pointer;
}

@media screen and (max-width: 560px){
    .right-arrow{
        margin-top: 65px;
    }
}

.my-projects{
    margin-top: 50px;
    width: 70vw;
    height: 35vw;
    justify-content: center;
    align-items: center;
}

.project-image-container{
    max-width: 70vw;
    height: 30vw;
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 560px){
    .project-image-container{
        max-width: 80vw;
        height: 45vw;
        margin-left: 30px;
        margin-right: 30px;
    }
}

.project-image{
    max-width: 70vw;
    height: 30vw;
}

@media screen and (max-width: 560px){
    .project-image{
        max-width: 70vw;
        height: 45vw;
    }
}

/* slide show sliding animation */
.slide{
    opacity: 0;
    transition-duration: 1s ease;
}
  
.slide.active{
    opacity: 1;
    transition-duration: 2s;
}

.project-button-container{
    display: flex;
    justify-content: space-between;
}

.project-btn{
    border: none;
    width: 100px;
    height: 25px;
    border-radius: 8px;
    font-size: 1rem;
    padding-top: 10px;
    margin-top: 10px;
    cursor: pointer;
    background: #404040;
    color: #e0e7ff;
    text-align: center;
    text-decoration: none;
}

.project-btn:hover{
    color: #bae6fd;
    border-bottom: 9px solid #bae6fd;
    transition: ease-in-out .5s;
}



